@model dcuFinal.Models.Materia

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <section class="section">
        <div class="columns is-centered">
            <div class="column is-one-third">
                <h2 class="title has-text-centered">Detalles</h2>

                <div>
                    <h4 class="title is-4 has-text-centered">@Model.nombre</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.Label("Materia", htmlAttributes: new { @class = "label" })
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.nombre)
                        </dd>
                        <br />
                        <dt>
                            @Html.Label("Usuario", htmlAttributes: new { @class = "label" })
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Usuarios.email)
                        </dd>
                        <br />
                    </dl>
                </div>

                <div class="columns">
                    <div class="column">
                        @Html.ActionLink("Volver a Materias", "Index", null, new { @class = "button is-info is-fullwidth" })
                    </div>
                    <div class="column">
                        @Html.ActionLink("Editar", "Edit", new { id = Model.id }, htmlAttributes: new { @class = "button is-warning is-fullwidth" })
                    </div>
                </div>


            </div>
        </div>
</section>
</div>
                